// 颜色定义规范
$color-popup-background = rgba(0, 0, 0, 0.6)
$color-popup-content-background = #efeff4
$color-border = #d9d9d9

// 字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-medium-xx = 18px
$font-size-medium-xxx = 20px
$font-size-large = 22px
$font-size-large-x = 24px
$font-size-large-xx = 26px
$font-size-large-xxx = 28px
$font-size-large-xxxx = 30px

// 层级规范

$z-index-popup-content = 220
// popup的层级
$z-index-popup = 200
$z-index-page-xx = 150
$z-index-page-x = 120
// 用fixed覆盖上个页面的用这个
$z-index-page = 100
// 通常使用
$z-index-normal = 10

// 贝塞尔曲线参数
$ease-out-in = cubic-bezier(.61,0,.44,1)
