body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text

svg
  display: block
  margin: 0
  padding: 0

clear
  &:after
    display: block
    content: ""
    clear: both
    width: 0
    height: 0
    line-height: 0
    visibility: hidden




