@import "./variable.styl"

// enter => enter-to 中间是slide-enter-active过渡态
// leave => leave-to 中间是slide-leave-active过渡态
// 每到一个阶段,css的类就会自动添加和去除
.router-slide-css-transform-enter
  transform: translate3d(100%, 0, 0)

.router-slide-css-transform-enter-active
  transition: all 0.3s $ease-out-in

.router-slide-css-transform-leave-active
  transition: all 0.3s $ease-out-in

.router-slide-css-transform-leave-to
  transform: translate3d(100%, 0, 0)

// position: fixed在transform的作用下会降级为absolute
// 如果页面头部有fixed,请采用left路由过渡方案
.router-view
  position: absolute
  width: 100%
  left: 0

.router-slide-css-left-enter-active,
.router-slide-css-left-leave-active
  transition: left 0.3s $ease-out-in

.router-slide-css-left-enter,
.router-slide-css-left-leave-to
  left: 100%
