// enter => enter-to 中间是slide-enter-active过渡态
// leave => leave-to 中间是slide-leave-active过渡态
// 每到一个阶段,css的类就会自动添加和去除
.router-slide-enter-active, .router-slide-leave-active
  transition: all 0.3s

.router-slide-enter, .router-slide-leave-to
  transform: translate3d(100%, 0, 0)
